body {
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#canvas1 {
    border: 2px solid black;
    width: 600px;
    height: 600px;
}