* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Helvetica", "Helvetica Neue", -apple-system, BlinkMacSystemFont, "SF Pro Text", "Inter", "Arial", "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}